/* Simple CSS Reset */
html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
* {
  box-sizing: inherit;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}